/** Content Styles **/
body {
    background: $purple;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: 200;
}

/** Typography **/
    h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

/** Color Styles **/
    .bg-block {
        height: 100px;
        &.bg-blue { @include bg-color($blue); }
        &.bg-purple { @include bg-color($purple); }
        &.bg-pink { @include bg-color($pink); }
        &.bg-yellow { @include bg-color($yellow, $blackish); }
        &.bg-green { @include bg-color($green); }
        > div {
            @include vertical-center();
        }
    }
