/** Mixins **/
@mixin bg-color($bg-color, $text-color: $whitish) {
    background: $bg-color;
    color: $text-color;
    input[type="text"] {
        background: darken($bg-color, 5%);
        border-top: 1px solid darken($bg-color, 10%);
        border-bottom: 1px solid lighten($bg-color, 5%);
        color: $text-color;
        @extend .text-center;
    }
    &.button {
        font-weight: 300;
        font-size: 1.25em;
        &:hover {
            background: darken($bg-color, 5%);
        }
    }
}

@mixin vertical-center() {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
