/** Variables **/
    /** Colors **/
    $pink:      #F45874;
    $yellow:    #FED16E;
    $green:     #5FB86B;
    $purple:    #544761;
    $blue:      #21747A;

    $blackish:  #4a4a4a;
    $whitish:   #f1f1f1;
